<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="  
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations"
			value="classpath:config/jdbc.properties" />
	</bean>
	<!-- Spring bean configuration. Tell Spring to bounce off BoneCP -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
		<property name="targetDataSource">
			<ref local="mainDataSource" />
		</property>
	</bean>

	<!-- BoneCP configuration -->
	<bean id="mainDataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="${driver}" />
		<property name="jdbcUrl" value="${url}" />
		<property name="username" value="${user}" />
		<property name="password" value="${password}" />
		<property name="partitionCount" value="2" />
		<property name="maxConnectionsPerPartition" value="5" />
		<property name="minConnectionsPerPartition" value="2" />
		<property name="acquireIncrement" value="4" />
		<property name="queryExecuteTimeLimitInMs" value="360000" />
		<property name="statementsCacheSize" value="50" />
		<!-- Mysql 8小时超时问题 -->
		<property name="connectionTestStatement" value="SELECT 1" />
		<property name="idleConnectionTestPeriodInSeconds" value="18000" />
		<property name="idleMaxAgeInMinutes" value="300" />
		<property name="maxConnectionAgeInSeconds" value="28700" />
		<property name="connectionTimeoutInMs" value="60000" />
		<!--
		If set to true, create a new thread that monitors
		a connection and displays warnings 
		if application failed to  
	 	close the connection. FOR DEBUG PURPOSES ONLY! 
	 	-->
		<property name="closeConnectionWatch" value="true" />
		<property name="logStatementsEnabled" value="true" />
	</bean>

	<!-- ================================事务相关控制================================================= -->
	<context:annotation-config />
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<context:component-scan base-package="net.yuanmomo.ac.business" />
	<tx:annotation-driven transaction-manager="txManager"
		proxy-target-class="true" />

	<!-- MyBatis sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
  		<property name="typeAliasesPackage" value="net.yuanmomo.ac.bean"/>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="net.yuanmomo.ac.mybatis.mapper" />
	</bean>
</beans>